{% extends 'acacia.html' %}
{% block title %}{{block.super}} - Informatie{% endblock title %}
{% block wrap %}
<h1>Inleiding</h1>
De webapplicatie Grondwatertoolbox laat de vergunningverlener/hydroloog zijn taken eenvoudiger, effici&euml;nter en met gevalideerde berekeningsmethoden uitvoeren. Het verzamelen van de benodigde data en het zoeken naar de juiste berekeningsmethode is niet langer een tijdrovend onderdeel maar wordt met de toolbox een kwestie van de spreekwoordelijke druk op de knop.
<p>
Het gebruik leidt tot een ander belangrijk voordeel, namelijk standaardisatie voor alle waterschappen. Alle waterschappen beoordelen met dezelfde uitgangspunten, gegevens en berekeningsmethoden. Hierdoor weten zowel vergunningaanvragers als vergunningverleners, waar ze aan toe zijn. Dit verbetert de communicatie aanzienlijk.
<p>
De toolbox wordt flexibel opgezet zodat deze in de toekomst relatief eenvoudig uitgebreid kan worden voor het toetsen van hydraulica (bijv. opstuwing, compenserende berging, etc.), geotechnische berekeningen (bijv. toetsing keringen) en waterbeheer (bijv. toetsing GGOR).
<p>
<h1>Geschiedenis</h1>
Sinds 22 december 2009 is het waterschap bevoegd gezag voor de meeste operationele zaken rondom grondwater. Voor een groot aantal ingrepen in het grondwater moet bij het waterschap een melding worden gedaan of een watervergunning worden aangevraagd.
<p>
Om meldingen en vergunningsaanvragen op een eenvoudige, effici&euml;nte en betrouwbare manier te kunnen toetsen heeft Acacia Water destijds in opdracht van Hoogheemraadschap Delfland en Hoogheemraadschap Hollands Noorderkwartier de Excelversie van de Grondwatertoolbox ontwikkeld. Er zijn inmiddels meer dan 20 waterschappen, enkele gemeenten en enkele commerci&euml;le partijen die de Excelversie van de Grondwatertoolbox gebruiken.
<p>
In gesprekken met vergunningverleners en hydrologen bleek dat er behoefte was aan meer functionaliteiten. Daarom is voorgesteld de Grondwatertoolbox uit te breiden tot een volwaardig instrument om het hele proces van vergunningverlening te ondersteunen. Dit gebeurt via een webapplicatie om de toegankelijkheid en functionaliteit voor de gebruikers te maximaliseren. 
<p>
Met medewerking en financi&euml;le bijdrage van STOWA en de waterschappen Rijn en Ijssel, Veluwe, Zuiderzeeland en Scheldestromen is de eerste versie van de webapplicatie grondwatertoolbox tot stand gekomen.
<p>
<h1>Hoe kan ik de webapplicatie grondwatertoolbox gebruiken?</h1>
Met de toolbox kunnen geohydrologische en geotechnische berekeningen worden uitgevoerd. De toolbox leidt de gebruiker, met uitleg en situatieschetsen, naar de juiste berekening die van toepassing is voor de specifieke situatie.
<p>
<b>Opzoeken van relevante data</b>
Het opzoeken van relevante data en wordt veel eenvoudiger door de GIS koppeling met Google maps en de koppeling met databanken (zoals DINOLoket). Ook is het mogelijk de berekening op te slaan en zo een online archief aan te leggen (uitsluitend toegankelijk binnen uw organisatie).
<p>
<b>Toetsen van de (berekenings)methodiek en effecten</b>
Voor het toetsen van de methodiek leidt de toolbox de gebruiker stapsgewijs naar de uit te voeren berekeningsmethode. De webapplicatie garandeert dat men altijd over de laatste en beste versie van de berekeningsmethodiek of nieuwe berekeningsmogelijkheden beschikt.
<p>
De verscheidenheid aan berekeningsmethoden en schematisaties maakt het mogelijk een gevoeligheidsanalyse te doen waarin getoetst wordt wat het effect is van bepaalde onzekerheden (bijvoorbeeld de doorlatendheid of de aan-/afwezigheid van een deklaag) op het onttrekkingsdebiet en de resulterende verlaging.
<p>
<b>Het opslaan en naslaan van eerdere berekeningen</b>
In een dossier kan de locatie, berekening en resultaten worden opgeslagen. Hiermee heeft de vergunningverlener toegang tot eerder gedane berekeningen. Ook is het mogelijk een berekening te exporteren en te printen.
<p>
<h1>Hoe krijg ik toegang tot alle functionaliteiten?</h1>
Niet alle functionaliteiten zijn beschikbaar. Voor toegang tot de volledige functionaliteit dient uw organisatie een inlog aan te vragen (via <a href="/contact/">Contact</a>).
<p>
De webapplicatie grondwatertoolbox is voortdurend in ontwikkeling. Verdere ontwikkeling hangt af van de vragen en wensen van de gebruikers.
<p>
{% endblock %}