{% extends 'acacia.html' %}
{% block title %}{{block.super}} - Partners{% endblock title %}
{% block wrap %}
<h1>De webapplicatie grondwatertoolbox is ontwikkeld door Acacia Water dankzij de bijdragen van de volgende partners:</h1>
<br/><br/>
<table width="400" border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td colspan="2">&nbsp;</td>
   <tr>
    <td><a href="http://www.stowa.nl"><font color="#61534a">Stowa</font></a></td>
    <td  bgcolor="#FFFFFF" align="center"><a href="http://www.stowa.nl"><img src="/media/img/toolbox/stowa.png" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.wrij.nl"><font color="#61534a">Waterschap Rijn en IJssel</font></a></td>
    <td  bgcolor="#FFFFFF" align="center"><a href="http://www.wrij.nl"><img src="/media/img/toolbox/waterschaprijnenijssel.png" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.veluwe.nl"><font color="#61534a">Waterschap Veluwe</font></a></td>
    <td  bgcolor="#FFFFFF" align="center"><a href="http://www.veluwe.nl"><img src="/media/img/toolbox/waterschapveluwe.png" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.zuiderzeeland.nl"><font color="#61534a">Waterschap Zuiderzeeland</font></a></td>
    <td  bgcolor="#FFFFFF" align="center"><a href="http://www.zuiderzeeland.nl"><img src="/media/img/toolbox/zuiderzeeland.png" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://scheldestromen.nl"><font color="#61534a">Waterschap Scheldestromen</font></a></td>
    <td  bgcolor="#FFFFFF" align="center"><a href="http://scheldestromen.nl"><img src="/media/img/toolbox/scheldestromen.png" border="0" /></a></td>
  </tr>
</table>
{% endblock %}
