{% extends 'toolbox/home.html' %}
{% block meta %}
{{map.media}}
{% endblock %}
{% block script %}
{{block.super}}
<script type = "text/javascript">
function popup(mylink, windowname)
{
	if (! window.focus)return true;
	var href;
	if (typeof(mylink) == 'string')
	   href=mylink;
	else
	   href=mylink.href;
	window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
	return false;
}
</script>
{% endblock script %}
{% block content %}

<div id="tabbladen">

    <a id="tab" href="#" class="active" onClick="SetTab(this,'tab_1');">tab_1</a>
    <a id="tab" href="#" class="normal" onClick="SetTab(this,'tab_2');">tab_2</a>
    <a id="tab" href="#" class="normal" onClick="SetTab(this,'tab_3');">tab_3</a>

</div>									

<div id="tabinhoud">

    <div id="tab_1"></div>
	<div id="tab_2" style="visibility:hidden; display: none;"></div>
    <div id="tab_3" style="visibility:hidden; display: none;"></div>

</div>

<h2>Dossier: {{dossier}}</h2>
<table border="1">
<tr>
	<td>
		Categorie: {{dossier.problem}} {{dossier.problem.category}}<br>
		<img id="img" width="400px" height="300px" src={% if dossier.problem.figure %}"/media/{{dossier.problem.figure}}"{% else %}"/media/{{dossier.problem.category_figure}}"{% endif %}/>
	</td>
	<td>
		Locatie: {{dossier.location}}<br>
		{{map}}
	</td>
</tr>
<tr>
<td><a style="float:right" href="/admin/toolbox/case/{{dossier.id}}">veranderen</a></td>
<td><a style="float:right" href="/dino/{{dossier.location.id}}">gegevens zoeken</a></td>
</tr>
</table>
<table>
<tr>
<th>Omschrijving</th>
<th>Symbool</th>
<th>Waarde</th>
<th>Eenheid</th>
</tr>
{% for inp in input %}
<tr class="{% cycle 'odd' 'even' %}">
	<td>{{ inp.variable.name }}</td>
	<td>{{ inp.variable.symbol}}</td>
	<td>{{ inp.value }}</td>
	<td>{{ inp.variable.unit}}</td>
</tr>
{% endfor %}
<tr>
<td colspan="3"><a href="/admin/toolbox/parameter/?location__id__exact={{dossier.location.id}}" onclick="return popup(this,'Bewerken')">Bewerken</a></td>
<td><a href="/calc/{{dossier.id}}">Berekenen</a></td>
</tr>
</table>
{% endblock %}